.btn-mentoring {
    background-color: rgba(0, 176, 176, 1);
    border-radius: 40px;
}

.btn-mentoring:first-child {
    margin-top: .2rem
}

.btn-mentoring:hover{
    background-color: rgba(0, 200, 200, 1);
}

.fa-mentoring {
    color: white
}

.fa-plus::before,
.fa-save::before{
    margin-right: 5px;
}

.btn-mentoring-circule{
    background-color: rgba(0, 176, 176, 1);
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.fa-search {
    color: white;
}

.btn-mentoring-circule:hover{
    background-color: rgba(0, 200, 200, 1);
}

.select2{
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }

@media (max-width:767px) {

    .assuntos-cad{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .select2-container{
        width: 48%!important;
    }

    .assuntos-cad > .select2-container:first-child{
        margin-right: 4%!important;
    }

    .btn-mentoring-circule{
        margin-top: 20px;
    }

    .col-xl-2 .btn-mentoring{
       height: 50px;
       width: 50px;
       border-radius: 50%;
    }

    .col-xl-2 .btn-mentoring a{
        display: none;
    }

    .col-xl-2 .btn-mentoring{
        margin: .5rem 15px;
    }

    .fa-plus::before,
    .fa-save::before{
        margin-right: 0px;
    }

}
